extends layout

block content
    h1= 'All of your created orders:'
    table.table
        each order in orders.length ? orders : ['There are no values']
            tr
                td #{order.id}
                td #{order.payment_status}
                td #{order.date}
                td #{order.customer_id}
                td
                    button(class='btn btn-danger') Remove