extends layout

block content

	- var addedItems = [{ id: 0, name: 'jablko', amount: 4}, { id: 0, name: 'rozok', amount: 10}]

	.container-fluid
		h1 All of your created orders:
		.row
			.col-sm-8
				table.table.table-striped.text-center                
					tr
						th #
						th Date
						th Customer
						th Total price
						th Paid
						th
						th
					each order in orders.length ? orders : ['There are no values']
						tr
							td #{order.id}
							td #{moment(order.date).format('DD.MM.yyyy hh:mm:ss')}
							td #{order.customer.first_name} #{order.customer.last_name}
							td #{order.total_price} €
							td
								if order.payment_status
									i.fa.fa-check
								else
									button.btn.btn-default set
							td
								button.btn.btn-success(type="submit", title='Archive order = hide from list')
									i.fa.fa-archive
							td
								button.btn.btn-danger(type="submit")
									i.fa.fa-trash-o
			.col-sm-4
				.card.shadow.card-body
					include orders-add.pug
							